// Opcional: Darle un fondo a la página para que la tarjeta resalte
ion-content {
  --background: url('/assets/img/login.png') no-repeat center center / cover;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);

}
ion-card {
  width: 100%;
  max-width: 450px;
  margin: 0 20px;
}
ion-card.rounded-card {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px); /* Efecto de desenfoque para lo que está detrás */
  overflow: hidden;
}
@media (min-width: 490px) {
  ion-card {
    margin: 0;
  }
}
.login-button {
  --background: #0DA642;
  --background-activated: #0b8e38;
  --background-hover: #0b8e38;
  height: 48px;
  font-size: 1rem;
  font-weight: bold;
}

ion-item {
  --padding-start: 8px;
  --inner-padding-end: 0; // Permite que el botón del ojo llegue bien al borde

  ion-button {
    margin-top: 15px; // Alinea el ojo con el texto del input cuando la etiqueta flota
  }
}