#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.geo-label {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
  z-index: 1000; /* Ensure the tooltip is above other elements */
}

ion-header {
  // Hacemos el contenedor del header transparente para que el margen
  // de la barra de herramientas sea visible, especialmente en iOS.
  background: transparent;
  // Evita que el header transparente bloquee interacciones con el mapa.
  pointer-events: none;
}
ion-toolbar {
  // La barra de herramientas sí debe ser interactiva.
  pointer-events: auto;
  --background: #0D9BD7;
  margin: calc(var(--ion-safe-area-top, 0px) + 0px) 0px 0px;
  --padding-top: 35px;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-bottom: 5px;
}

ion-title {
  // Con los ion-buttons en su sitio, el título se centra automáticamente.
  // Solo necesitamos centrar su contenido interno (icono y texto).
  position: static;
  padding: 0;

  // Estilos de fuente
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  // Centramos el título y el icono
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
