<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mapa"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="saveData()" *ngIf="geojson">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre del Polígono</ion-label>
        <ion-input type="text" [(ngModel)]="formData.name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input type="text" [(ngModel)]="formData.description" name="description"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" class="ion-margin-top">
      Guardar Polígono
    </ion-button>
  </form>

  <div *ngIf="!geojson" class="ion-text-center ion-padding">
    <p>No se recibieron datos del polígono.</p>
    <ion-button routerLink="/mapa">Volver al Mapa</ion-button>
  </div>

</ion-content>
