<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mapa"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ editKey ? 'Editar Información' : 'Registrar Datos' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="saveData()" *ngIf="geojson">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre del Polígono</ion-label>
        <ion-input type="text" [(ngModel)]="formData.name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input type="text" [(ngModel)]="formData.description" name="description"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="takePicture()" [disabled]="photosForDisplay.length >= 6" color="secondary" expand="block" class="ion-margin-top">
      <ion-icon slot="start" name="camera"></ion-icon>
      Añadir Foto ({{ photosForDisplay.length }} / 6)
    </ion-button>

    <ion-grid *ngIf="photosForDisplay.length > 0" class="ion-margin-top">
      <ion-row>
        <ion-col size="4" *ngFor="let photo of photosForDisplay; let i = index" class="photo-thumbnail-container">
          <ion-img [src]="photo"></ion-img>
          <ion-button class="delete-photo-btn" (click)="deletePhoto(i)" fill="clear" color="danger">
            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button type="submit" expand="block" class="ion-margin-top" [disabled]="!formData.name">
      {{ editKey ? 'Actualizar Información' : 'Guardar Polígono' }}
    </ion-button>
  </form>

  <div *ngIf="!geojson" class="ion-text-center ion-padding">
    <p>No se recibieron datos del polígono.</p>
    <ion-button routerLink="/mapa">Volver al Mapa</ion-button>
  </div>

</ion-content>
