<ion-content [fullscreen]="true" class="ion-padding">
  <div class="main-wrapper">
    <div class="logo-container">
        <ion-img
          src="/assets/img/logoapp.png"
          alt="Logo DEVIDA"
          style="max-width: 180px;"
        ></ion-img>
    </div>
    <div class="welcome-image-container" style="margin-bottom: 20px;">
        <ion-img
          src="/assets/img/welcome.png"
          alt="Imagen DEVIDA"
          style="max-width: 250px;"
        ></ion-img>
    </div>
    <h1 style="text-align: center; font-size: 2em; margin-bottom: 10px;">GeoDAIS Movil</h1>
    <h6 style="text-align: center; margin-bottom: 15px;">Realiza levantamiento en campo en tu celular</h6>
    <h6 style="text-align: center; margin-bottom: 20px;">v1.0.0</h6>
    <div class="login-container" style="display: flex; flex-direction: column; align-items: center;">
      <ion-button routerLink="/register" style="margin-bottom: 10px; width: 200px;">Registrarse</ion-button>
      <ion-button routerLink="/login" style="width: 200px;">Iniciar Sesión</ion-button>
      </div>
  </div>
</ion-content>