// Puedes mover aquí los estilos generales de registerdata.page.scss
// o dejarlos en un archivo global si son compartidos.
ion-header {
  background: transparent;
  pointer-events: none;
}

ion-header {
  background: transparent;
  pointer-events: none;
}
ion-toolbar {
  pointer-events: auto;
  --background: #0D9BD7;
  color: #fff;
}

ion-tab-button {
  --color: var(--ion-color-medium-shade);
  --color-selected: var(--ion-color-primary);
}
