<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mapa"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon [name]="(registerDataService.editKey$ | async) ? 'pencil-outline' : 'create-outline'" aria-hidden="true"></ion-icon>
      {{ pageTitle$ | async }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" color="light">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="productor">
        <img src="assets/tabs/usuario.png" alt="Usuario" style="width: 24px; height: 24px;">
        <ion-label>Productor</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="agrarios">
        <img src="assets/tabs/tractor.png" alt="tractor" style="width: 24px; height: 24px;">
        <ion-label>Agrarios</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="geometricos">
        <img src="assets/tabs/terreno.png" alt="terreno" style="width: 24px; height: 24px;">
        <ion-label>Geometría</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="fotos">
        <img src="assets/tabs/camara.png" alt="camara" style="width: 24px; height: 24px;">
        <ion-label>Fotos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profesional-tab">
        <img src="assets/tabs/campo.png" alt="campo" style="width: 24px; height: 24px;">
        <ion-label>Profesional</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
