<ion-content>
  <ng-container *ngIf="registerDataService.formData$ | async as formData">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title color="white" style="display: flex; justify-content: space-between; align-items: center;">
          Datos Geométricos
          <ion-icon *ngIf="formData.uploaded" name="lock-closed" style="font-size: 1.2em;"></ion-icon>
        </ion-card-title>
          <ion-card-subtitle color="white">Fuente: LEVANTAMIENTO EN CAMPO</ion-card-subtitle>
        <div class="header-container">
          <ion-chip *ngIf="formData.geometryTypeLabel" outline="true" class="geometry-chip">
            <ion-icon [name]="geometryIcons[formData.geometryTypeLabel] || 'shapes-outline'" aria-hidden="true"></ion-icon>
            <ion-label>{{ formData.geometryTypeLabel }}</ion-label>
          </ion-chip>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-select label="Tipo de Cultivo" label-placement="stacked" interface="action-sheet" placeholder="Seleccione un cultivo"
                        [ngModel]="formData.TIPO_CULTIVO"
                        (ngModelChange)="formData.TIPO_CULTIVO = $event"
                        [disabled]="!!formData.uploaded">
              <!-- Opciones para roles 'default' y 'polygon-only' (todos menos 'other-crops') -->
              <ion-select-option *ngIf="userRole !== 'other-crops'" value="CACAO">CACAO</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'other-crops'" value="CAFE">CAFÉ</ion-select-option>
              <!-- Opciones para roles 'default' y 'other-crops' (todos menos 'polygon-only') -->
              <ion-select-option *ngIf="userRole !== 'polygon-only'" value="PLATANO">PLATANO</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'polygon-only'" value="MARACUYA">MARACUYA</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'polygon-only'" value="JENGIBRE">JENGIBRE</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'polygon-only'" value="PALTO">PALTO</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input label="Oficina Zonal" label-placement="stacked"
                       [ngModel]="formData.UBIGEO_OFICINA_ZONAL"
                       (ngModelChange)="formData.UBIGEO_OFICINA_ZONAL = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Departamento" label-placement="stacked"
                       [ngModel]="formData.TXT_DEPARTAMENTO"
                       (ngModelChange)="formData.TXT_DEPARTAMENTO = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Provincia" label-placement="stacked"
                       [ngModel]="formData.TXT_PROVINCIA"
                       (ngModelChange)="formData.TXT_PROVINCIA = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Distrito" label-placement="stacked"
                       [ngModel]="formData.TXT_DISTRITO"
                       (ngModelChange)="formData.TXT_DISTRITO = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Caserío" label-placement="stacked"
                       [ngModel]="formData.UBIGEO_CASERIO"
                       (ngModelChange)="formData.UBIGEO_CASERIO = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Fuente" label-placement="stacked" [readonly]="true"
                       [ngModel]="formData.FUENTE"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Datum" label-placement="stacked" [readonly]="true"
                       [ngModel]="formData.DATUM"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item *ngIf="formData.geometryTypeLabel !== 'Punto'">
            <ion-label>
              <h2>Perímetro</h2>
              <p>{{ formData.perimetro || 'Calculando...' }}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="formData.geometryTypeLabel !== 'Punto'">
            <ion-label>
              <h2>Área</h2>
              <p>{{ formData.area || 'Calculando...' }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Altitud Promedio</h2>
              <p>{{ formData.altitud || 'Calculando...' }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Centroide (Lat, Lon)</h2>
              <p>{{ formData.centroide || 'Calculando...' }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea label="Observaciones" label-placement="stacked" [autoGrow]="true"
                          placeholder="Añada notas adicionales aquí..."
                          [ngModel]="formData.OBSERVACIONES"
                          (ngModelChange)="formData.OBSERVACIONES = $event"
                          class="uppercase-input"
                          [disabled]="!!formData.uploaded"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
