<ion-content>
  <ng-container *ngIf="registerDataService.formData$ | async as formData">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title color="white" style="display: flex; justify-content: space-between; align-items: center;">
          Datos Geométricos
          <ion-icon *ngIf="formData.uploaded" name="lock-closed" style="font-size: 1.2em;"></ion-icon>
        </ion-card-title>
          <ion-card-subtitle color="white">Fuente: LEVANTAMIENTO EN CAMPO</ion-card-subtitle>
        <div class="header-container">
          <ion-chip *ngIf="formData.geometryTypeLabel" outline="true" class="geometry-chip">
            <ion-icon [name]="geometryIcons[formData.geometryTypeLabel] || 'shapes-outline'" aria-hidden="true"></ion-icon>
            <ion-label>{{ formData.geometryTypeLabel }}</ion-label>
          </ion-chip>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="shapes-outline" slot="start" color="primary"></ion-icon>
            <ion-select [label]="userRole === 'animal-crops' ? 'Tipo de Crianza' : 'Tipo de Cultivo'"
                        label-placement="floating"
                        interface="action-sheet"
                        [placeholder]="userRole === 'animal-crops' ? 'Seleccione la crianza' : 'Seleccione un cultivo'"
                        [ngModel]="formData.tipo_cultivo"
                        (ngModelChange)="formData.tipo_cultivo = $event"
                        [disabled]="!!formData.uploaded">
              <!-- Opciones para roles 'default' y 'polygon-only' (todos menos 'other-crops' y 'animal-crops') -->
              <ion-select-option *ngIf="userRole !== 'other-crops' && userRole !== 'animal-crops'" value="CACAO">CACAO</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'other-crops' && userRole !== 'animal-crops'" value="CAFE">CAFÉ</ion-select-option>
              <!-- Opciones para roles 'default' y 'other-crops' (todos menos 'polygon-only' y 'animal-crops') -->
              <ion-select-option *ngIf="userRole !== 'polygon-only' && userRole !== 'animal-crops'" value="PLATANO">PLATANO</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'polygon-only' && userRole !== 'animal-crops'" value="MARACUYA">MARACUYA</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'polygon-only' && userRole !== 'animal-crops'" value="JENGIBRE">JENGIBRE</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'polygon-only' && userRole !== 'animal-crops'" value="PALTO">PALTO</ion-select-option>

             <!--  <ion-select-option *ngIf="userRole !== 'polygon-only' && userRole !== 'animal-crops'" value="APICOLA">APICOLA</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'polygon-only' && userRole !== 'animal-crops'" value="ACUICOLA">ACUICOLA</ion-select-option>
              <ion-select-option *ngIf="userRole !== 'polygon-only' && userRole !== 'animal-crops'" value="AVICOLA">AVICOLA</ion-select-option> -->

              <!-- Opciones solo para rol 'animal-crops' -->
              <ion-select-option *ngIf="userRole === 'animal-crops'" value="APICOLA">APICOLA</ion-select-option>
              <ion-select-option *ngIf="userRole === 'animal-crops'" value="ACUICOLA">ACUICOLA</ion-select-option>
              <ion-select-option *ngIf="userRole === 'animal-crops'" value="AVICOLA">AVICOLA</ion-select-option>

            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="business-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Oficina Zonal" 
                       label-placement="floating"
                       [readonly]="true"
                       [ngModel]="formData.oz_zonal"
                       (ngModelChange)="formData.oz_zonal = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="map-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Departamento" 
                       label-placement="floating"
                       [readonly]="true"
                       [ngModel]="formData.departamento_inei"
                       (ngModelChange)="formData.departamento_inei = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="map-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Provincia" 
                       label-placement="floating"
                       [readonly]="true"
                       [ngModel]="formData.provincia_inei"
                       (ngModelChange)="formData.provincia_inei = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="map-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Distrito" 
                       label-placement="floating"
                       [readonly]="true"
                       [ngModel]="formData.distrito_inei"
                       (ngModelChange)="formData.distrito_inei = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="home-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Caserío" 
                       label-placement="floating"
                       [placeholder]="formData.uploaded ? '' : 'Ingrese nombre del caserío'"
                       [ngModel]="formData.caserio"
                       (ngModelChange)="formData.caserio = $event"
                       class="uppercase-input"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="analytics-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Perímetro" 
                       label-placement="floating"
                       [readonly]="true" 
                       [value]="formData.perimetro || 'Calculando...'"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="shapes-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Área" 
                       label-placement="floating"
                       [readonly]="true" 
                       [value]="formData.area || 'Calculando...'"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="planet-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Altitud Promedio" 
                       label-placement="floating"
                       [readonly]="true" 
                       [value]="formData.altitud || 'Calculando...'"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Centroide (Lat, Lon)" 
                       label-placement="floating"
                       [readonly]="true" 
                       [value]="formData.centroide || 'Calculando...'"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="globe-outline" slot="start" color="primary"></ion-icon>
            <ion-input label="Datum" 
                       label-placement="floating"
                       [readonly]="true"
                       [ngModel]="formData.datum"
                       [disabled]="!!formData.uploaded"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="create-outline" slot="start" color="primary"></ion-icon>
            <ion-textarea label="Observaciones" 
                          label-placement="floating"
                          [autoGrow]="true"
                          placeholder="Añada notas adicionales aquí..."
                          [ngModel]="formData.observaciones"
                          (ngModelChange)="formData.observaciones = $event"
                          class="uppercase-input"
                          [disabled]="!!formData.uploaded"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
